.users-comp{
    margin: 10px 0 10px 0!important;
}

.userList-comp{
    width: 90vw;
    min-height: 500px;
    max-height: 80vh;
    overflow-y: scroll;
}

.userList-comp .comp-title {
    border-bottom: 1px solid gray;
    background-color: #212121;
}

.user-col {
    padding: 10px;
}